/* Elimina los spinner de los input type number */
@layer components {
    .no-spinner {
      -moz-appearance: textfield; /* Firefox */
      appearance: textfield;
    }
  
    .no-spinner::-webkit-inner-spin-button,
    .no-spinner::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }